<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
    <meta charset="utf-8" />
    <title>Taxi HelpDesk | Login</title>
    <meta name="description"
        content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font.css" type="text/css" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>

<body>
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xxl">
            <a class="navbar-brand block" href="#">Taxis diamante</a>
            <section class="panel panel-default bg-white m-t-lg">
                <header class="panel-heading text-center">
                    <img class="mb-4" src="img/logo_taxi.svg" alt="" width="72" height="57" /><br>
                    <strong>Iniciar sesion</strong>
                </header>
                <form class="panel-body wrapper-lg" id="formLogin" action="/login" method="POST" >
                    <div class="form-group">
                        <label class="control-label" for="user">Usuario</label>
                        <input type="email" class="form-control input-lg" id="user" name="user" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pass">Contrase&ntilde;a</label>
                        <input type="password" id="pass" name="pass" placeholder="Contrase&ntilde;a" class="form-control input-lg">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Recuerdame
                        </label>
                    </div>
                    <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="line line-dashed"></div>
                </form>
            </section>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder">
            <p>
                <small>Qimba hazlo posible<br>&copy; 2023</small>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.js"></script>
    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/app.plugin.js"></script>
    <script src="js/slimscroll/jquery.slimscroll.min.js"></script>

</body>

</html>